---
import { changeLanguage } from "i18next";
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import CalendarIcon from "../../components/Icon/CalendarIcon.astro";
import SmallHint from "../../components/SmallHint/SmallHint.astro";
import { localizeDate } from "../../shared/utils";
import ClockIcon from "../../components/Icon/ClockIcon.astro";
import FacebookIcon from "../../components/Icon/FacebookIcon.astro";
import LinkedInIcon from "../../components/Icon/LinkedInIcon.astro";
import Headings from "../../components/Headings/Headings.astro";

changeLanguage("en");

export async function getStaticPaths() {
    const blogEntries = await getCollection("blog", ({ id }) => {
        return id.startsWith("en/");
    });
    return blogEntries.map((entry) => ({
        params: { post: entry.slug },
        props: { entry },
    }));
}
const { entry } = Astro.props;
const { Content, headings } = await entry.render();
const { data: { title, pubDate, description, author, readTime, image }, } = entry;
const formattedDate = localizeDate(pubDate);
---

<MainLayout title="Under construction">
    <h1
        class="font-bold text-3xl sm:text-4xl md:text-5xl mt-40 mb-4 mx-4 md:mx-10 leading-9 text-center"
    >
        {title}
    </h1>
    <h2
        class="text-xl sm:text-2xl md:text-3xl mx-4 md:mx-10 text-center text-slate-300 mb-10"
    >
        {description}
    </h2>
    <div class="flex flex-row m-auto justify-center items-center mb-14">
        <SmallHint HintIcon={CalendarIcon} text={formattedDate} />
        <SmallHint HintIcon={ClockIcon} text={readTime} />
    </div>
    <Headings headings={headings} />
    <div class="post-content">
        <Content />
    </div>
</MainLayout>

<script>
    const openPopup = (url) => {
        const popupWidth = 600;
        const popupHeight = 400;
        const left = (window.screen.width - popupWidth) / 2;
        const top = (window.screen.height - popupHeight) / 2;

        window.open(
            url,
            "Compartir en redes sociales",
            `width=${popupWidth},height=${popupHeight},top=${top},left=${left},scrollbars=no`
        );
    };

    const shareConfig = {
        facebook: {
            getUrl: (postUrl, text) =>
                `https://www.facebook.com/sharer/sharer.php?u=${postUrl}&t=${text}`,
        },
        twitter: {
            getUrl: (postUrl, text) =>
                `https://twitter.com/intent/tweet?url=${postUrl}&text=${text}`,
        },
        linkedin: {
            getUrl: (postUrl) =>
                `https://www.linkedin.com/sharing/share-offsite/?url=${postUrl}`,
        },
    };

    document.querySelectorAll(".share-button").forEach((button) => {
        const platform = button.id.split("-")[1];
        const { getUrl } = shareConfig[platform];

        button.addEventListener("click", () => {
            const postUrl = encodeURIComponent(window.location.href);
            const text = encodeURIComponent(document.title);
            const url = getUrl(postUrl, text);

            openPopup(url);
        });
    });
</script>

<style is:global>
    .post-content {
        @apply text-lg leading-8;
    }
    .post-content h1 {
        @apply text-6xl;
    }

    .post-content h2 {
        @apply text-3xl;
    }

    .post-content h3 {
        @apply text-2xl;
    }

    .post-content h1,
    .post-content h2,
    .post-content h3,
    .post-content h4 {
        @apply font-bold mt-12 mb-6;
    }

    .post-content p {
        @apply my-4;
    }

    .post-content ul {
        @apply list-disc w-11/12 m-auto mb-4;
    }

    .post-content ul li {
        @apply pl-4;
    }
</style>
