---
import { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";
import MainLayout from "../layouts/MainLayout.astro";
import RegularParagraph from "../components/AboutMe/RegularParagraph/RegularParagraph.astro";
import SectionTitle from "../components/AboutMe/SectionTitle/SectionTitle.astro";
import InternalLink from "../components/InternalLink/InternalLink.astro";
import Job from "../components/AboutMe/Job/Job.astro";
import Education from "../components/AboutMe/Education/Education.astro";
import DownloadIcon from "../components/Icon/DownloadIcon.astro";

changeLanguage("en");

const jobKeys = ["sopra", "eduka", "indra-2", "insous", "indra-1"];
const getJobKeyBase = (jobKey) => `about-me.professional-experience.job.${jobKey}`;
const jobs = await jobKeys.map((jobKey) => {
    const getDescriptions = (jobKey) => {
        const descriptions = [];
        let i = 1;
        let key = `${getJobKeyBase(jobKey)}.description-${i}`;
        let description = t(key);
        while (description !== key) {
            descriptions.push(description);
            i++;
            key = `${getJobKeyBase(jobKey)}.description-${i}`;
            description = t(key);
        }
        return descriptions;
    };
    const job = {
        company: t(`${getJobKeyBase(jobKey)}.company`),
        time: t(`${getJobKeyBase(jobKey)}.time`),
        title: t(`${getJobKeyBase(jobKey)}.title`),
        description: getDescriptions(jobKey),
    };
    return job;
});
const learningKeys = ["university", "grado-superior", "grado-medio"];
const getLearningKeyBase = (learningKey) => `about-me.education.learning.${learningKey}`;
const learning = learningKeys.map((education) => ({
    institution: t(`${getLearningKeyBase(education)}.institution`),
    title: t(`${getLearningKeyBase(education)}.title`),
    time: t(`${getLearningKeyBase(education)}.time`),
}));
---

<MainLayout title={t("general.about-me")}>
    <h1
        class="font-bold text-4xl md:text-5xl mt-32 mb-4 mx-4 md:mx-10 leading-9 text-center"
    >
        {t("about-me.title")}
    </h1>
    <nav class="text-2xl md:text-3xl mx-4 md:mx-10 text-center text-slate-300">
        {`${t("about-me.nav.professional-experience.pre-text")} `}
        <InternalLink link="#professional-experience">
            {t("about-me.nav.professional-experience.anchor-text")}
        </InternalLink>{
            `, ${t("about-me.nav.work-history.pre-text")} `
        }<InternalLink link="#work-history">
            {`${t("about-me.nav.work-history.anchor-text")}`}
        </InternalLink>{`, ${t("about-me.nav.cv.pre-text")} `}<InternalLink
            link="#cv"
        >
            {t("about-me.nav.cv.anchor-text")}
        </InternalLink>{
            `, ${t("about-me.nav.education.pre-text")} `
        }<InternalLink link="#education">
            {t("about-me.nav.education.anchor-text")}
        </InternalLink>{
            `, ${t("about-me.nav.personal-things.pre-text")} `
        }<InternalLink link="#personal-things">
            {t("about-me.nav.personal-things.anchor-text")}
        </InternalLink>{` ${t("about-me.nav.personal-things.final-text")}`}
    </nav>
    <section id="professional-experience" class="mt-20">
        <SectionTitle>
            {t("about-me.professional-experience.title")}
        </SectionTitle>
        <RegularParagraph>
            {t("about-me.professional-experience.paragraph-1")}
        </RegularParagraph>

        <RegularParagraph>
            {t("about-me.professional-experience.paragraph-2")}
        </RegularParagraph>
    </section>

    <section id="work-history" class="mt-20">
        <SectionTitle>{t("about-me.work-history.title")}</SectionTitle>
        {jobs.length > 0 && jobs.map((job) => <Job job={job} />)}
    </section>

    <section id="cv" class="mt-20">
        <SectionTitle>{t("about-me.cv.title")}</SectionTitle>
        <div>Will be available soon</div>
    </section>

    <section id="education" class="mt-20">
        <SectionTitle>{t("about-me.education.title")}</SectionTitle>
        {
            learning.length > 0 &&
                learning.map((education) => <Education education={education} />)
        }
    </section>

    <section id="personal-things" class="mt-20">
        <SectionTitle>{t("about-me.personal-things.title")}</SectionTitle>
        <RegularParagraph>
            {t("about-me.personal-things.paragraph-1")}
        </RegularParagraph>
        <RegularParagraph>
            {t("about-me.personal-things.paragraph-2")}
        </RegularParagraph>
        <RegularParagraph>
            {t("about-me.personal-things.paragraph-3")}
        </RegularParagraph>
        <RegularParagraph>
            {t("about-me.personal-things.paragraph-4")}
        </RegularParagraph>
    </section>
</MainLayout>
