---
import { t } from "i18next";
import { localizePath } from "astro-i18next";
import LinkButton from "../../../components/LinkButton/LinkButton.astro";
import DocumentTextIcon from "../../Icon/DocumentTextIcon.astro";

import PostCard from "../../PostCard/PostCard.astro";

const { posts } = Astro.props;
---

<section class="mb-10">
    <h2
        class="text-4xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-emerald-400"
    >
        {t("home.posts.title")}
    </h2>
    <h3 class="text-xl text-slate-300 mb-4">
        {t("home.posts.description")}
    </h3>
    {
        posts?.length ? (
            <>
                {posts.map(({ data: { title, pubDate, preview }, slug }) => (
                    <PostCard
                        key={slug}
                        pubDate={pubDate}
                        title={title}
                        slug={slug}
                        preview={preview}
                    />
                ))}
                <LinkButton link={localizePath("/blog")}>
                    <span class="mr-2">
                        {t("home.posts.more-posts-button")}
                    </span>
                    <DocumentTextIcon />
                </LinkButton>
            </>
        ) : (
            <div class="p-10 bg-gray-800 rounded-xl text-gray-600">
                {t("home.posts.no-posts")}
            </div>
        )
    }
</section>
